@model BeTheChangeFinal.Models.CustomCauses

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CustomCauses</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomDetails)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CauseType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CauseType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonateLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonateLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CustomId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
