@model IEnumerable<BeTheChangeFinal.Models.CustomCauses>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomDetails)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CauseType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonateLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomDetails)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CauseType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonateLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CustomId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CustomId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CustomId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
