@model BeTheChangeFinal.Models.Disaster

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Disaster</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisasterName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisasterName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisasterDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisasterDetails)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisasterLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisasterLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisasterLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisasterLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Urgency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Urgency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtypeNameNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtypeNameNavigation.DtypeName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DisasterId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
