@model IEnumerable<BeTheChangeFinal.Models.Disaster>

@{
    ViewData["Title"] = "Index";
}

<h1>Disasters</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Disasters" asp-action="Index" method="get">
    <p>
        Title: <input type="text" name="SearchString">
        <input type="submit" value="Filter" autofocus autocomplete="" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DisasterName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisasterDetails)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisasterLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisasterLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Urgency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DtypeNameNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DisasterName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisasterDetails)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisasterLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisasterLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Urgency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtypeNameNavigation.DtypeName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DisasterId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DisasterId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DisasterId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
