@model IEnumerable<BeTheChangeFinal.Models.Disaster>

@{
    ViewData["Title"] = "Index";
}

<h1>Disasters</h1>

@if(User.IsInRole("Admin")){
<p>
    <a asp-action="Create">Create New</a>
</p>
}

<form asp-controller="Disasters" asp-action="Index" method="get">
    <p>
        Title: <input type="text" name="SearchString">
        <input type="submit" value="Filter" autofocus autocomplete="" />
    </p>
</form>
<br />
@if (User.IsInRole("Admin"))
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Disaster Name
                </th>
                <th>
                    Details
                </th>
                <th>
                    Location
                </th>
                <th>
                    Donate/Info Link
                </th>
                <th>
                    Urgency(1-9, 9 being high)
                </th>
                <th>
                    Category
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DisasterName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DisasterDetails)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DisasterLocation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DisasterLink)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Urgency)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DtypeNameNavigation.DtypeName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.DisasterId">Edit</a> |
                          <a asp-action="Delete" asp-route-id="@item.DisasterId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>}

else
{
    @foreach (var item in Model)
    {

        <div class="align-content-center  border-dark card">

            <hr />
            <dl>
                <dt>
                    Disaster Name
                </dt>
                <dd>
                    @item.DisasterName
                </dd>
                <dt>
                    Disaster Detail
                </dt>
                <dd>
                    @item.DisasterDetails
                </dd>

                <dt>
                    Location
                </dt>
                <dd>
                    @item.DisasterLocation
                </dd>
                <dt>
                    Urgency
                </dt>
                <dd>
                    @item.Urgency
                </dd>

                <dt>
                    Disaster Category
                </dt>
                <dd>
                    @item.DtypeNameNavigation.DtypeName
                </dd>

                <dt>
                    <button type="button" style="background-color:peachpuff; border:solid; border-color:black; margin-bottom:15px" onclick="window.open('@item.DisasterLink');">Donate/Info</button>
                </dt>

            </dl>
            <br />
            <br />
        </div>
        <br/>

    }
}
