@model IEnumerable<BeTheChangeFinal.Models.Disaster>
<h3>Our Randomly Selected Cause</h3>





@foreach (var item in Model)
{

    <div class="align-content-center  border-dark card">

        <hr />
        <dl>
            <dt>
                Disaster Name
            </dt>
            <dd>
                @item.DisasterName
            </dd>
            <dt>
                Disaster Detail
            </dt>
            <dd>
                @item.DisasterDetails
            </dd>

            <dt>
                Location
            </dt>
            <dd>
                @item.DisasterLocation
            </dd>
            <dt>
                Urgency
            </dt>
            <dd>
                @item.Urgency
            </dd>

            <dt>
                Disaster Category
            </dt>
            <dd>
                @item.DtypeNameNavigation.DtypeName
            </dd>
           
            <dt>
                <button type="button" style="background-color:peachpuff; border:solid; border-color:black; margin-bottom:15px" onclick="window.open('@item.DisasterLink');">Donate/Info</button>
            </dt>

        </dl>
        <br />
        <br />
    </div>

}

