@model BeTheChangeFinal.Models.Charity

@{
    ViewData["Title"] = "TapForCause";
}

<h1>Radom Cause</h1>


<div>
    <h4>Charity</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           Charity Details
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CharityDetails)
        </dd>
        <dt class = "col-sm-2">
           Charity Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CharityName)
        </dd>
        <dt class = "col-sm-2">
            Organization
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CharityOrganization)
        </dd>
        <dt class = "col-sm-2">
           Location
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CharityLocation)
        </dd>
        <dt class = "col-sm-2">
            Donate/Info Link
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CharityLink)
        </dd>
        <dt class = "col-sm-2">
            Charity Type
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CtypeNameNavigation.CtypeName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CharityId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
