@model IEnumerable<BeTheChangeFinal.Models.Charity>

@{
    ViewData["Title"] = "Index";
}

<h1>Searching by Charities</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Charities" asp-action="Index" method="get">
    <p>
        Search by Organization Name: <input type="text" name="SearchString">
        <input type="submit" value="Filter" autofocus autocomplete="" />
    </p>
</form>

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
<table class="table">
    <thead>
        <tr>
            <th>
                Details
            </th>
            <th>
                Charity Name
            </th>
            <th>
                Organization
            </th>
            <th>
                Location
            </th>
            <th>
                Link
            </th>
            <th>
                Charity Type
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CharityDetails)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CharityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CharityOrganization)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CharityLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CharityLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CtypeNameNavigation.CtypeName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CharityId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CharityId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CharityId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
}
else
{
    <div class="container">

    </div>
}
