@model IEnumerable<BeTheChangeFinal.Models.Charity>

@{
    ViewData["Title"] = "Charity List";
}

<h1>Charity</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Charities" asp-action="Index" method="get">
    <p>
        Search by Organization Name: <input type="text" name="SearchString">
        <input type="submit" value="Filter" autofocus autocomplete="" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>

                Charity Name
            </th>
            <th>
                Charity Originization
            </th>
            <th>
                Charity Location

            </th>
            <th>
                Charity Details
            </th>
            <th>
                Charity Link
            </th>
            <th>
                Charity Type
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CharityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CharityOrganization)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CharityLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CharityDetails)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CharityLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CtypeNameNavigation.CtypeName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CharityId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CharityId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CharityId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
