@model IEnumerable<BeTheChangeFinal.Models.Charity>
@{
    ViewData["Title"] = "TapForCause";
}

<h3>Our Randomly Selected Cause</h3>
@foreach (var item in Model)
{

<div class="align-content-center  border-dark card">

    <hr />
    <dl>
        <dt>
            Charity Name
        </dt>
        <dd>
            @item.CharityName
        </dd>
        <dt>
            Charity Details
        </dt>
        <dd>
            @item.CharityDetails
        </dd>

        <dt>
            Organization
        </dt>
        <dd>
            @item.CharityOrganization
        </dd>
        <dt>
            Location
        </dt>
        <dd>
            @item.CharityLocation
        </dd>

        <dt>
            Charity Type
        </dt>
        <dd>
            @item.CtypeNameNavigation.CtypeName
        </dd>
        <dt>
            <button type="button" style="background-color:peachpuff; border:solid; border-color:black; margin-bottom:15px" onclick="window.open('@item.CharityLink');">Donate/Info</button>
        </dt>

    </dl>
    <br />
    <br />
</div>

}

