@model IEnumerable<BeTheChangeFinal.Models.Charity>
@{
    ViewData["Title"] = "TapForChange";
}

<h1>Our Randomly Selected Cause</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Charity Detaisl
            </th>
            <th>
                Charity Name
            </th>
            <th>
                Organization
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CharityLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CharityLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CtypeNameNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CharityDetails)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CharityName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CharityOrganization)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CharityLocation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CharityLink)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CtypeNameNavigation.CtypeName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CharityId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CharityId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CharityId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


